html {
    overflow: hidden;
}

/* side buttons!!! */

.sideButton {
    overflow: hidden;
    height:  1em;
    width: 50px;
    color: aliceblue;
    z-index: 2;
    position: absolute;
    font-size: 180%;
    background: #4F4C4C;
    border-radius: 10%;
    right: -.8em;
    padding: .3em .5em .3em .5em;
}

.sideButton:hover{
    cursor: pointer;
    background: #908F8F;
    -webkit-transition: all .3s ease-in;
}


/*image display on page */
.modal {
    background: url("images/2019-01-10_093A45.jpg");
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    background-position: center;
    background-size: cover;
    cursor: -webkit-zoom-in;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 80px;
    overflow: hidden;
}

#img01 {
    object-position: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    min-width: 1024px;
    min-height: 100%;
    position: relative;
    cursor: -webkit-zoom-in;
}


#img01-fullscreenCursor {
    object-position: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    min-width: 1024px;
    min-height: 100%;
    cursor: -webkit-zoom-out;
}

.demo {
  opacity: 0;
}

.demo:hover {
  opacity: 0.7;
}
            
.cursor {
  cursor: pointer;
}

/* live cam at bottom right */
.livecamContainer{
    position: fixed;
    background: url("images/2019-01-10_093A45.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 80px;
    width: 100px;
    bottom:0;
    right:0;
    z-index: -1;
}
.livecamContainer:hover{
    cursor: pointer;

}
.cameraIcon {
    padding-top: 5px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 25px;
    color: white;
}
.liveText{
    color: white;
    background: #EC2D2D;
    font-size: 18px;
    padding-left: 30px;

}

/*loader!!! */

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


